@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&display=swap");
body {
  font-family: "Asap", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  width: 50%;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-style: italic;
}
.quote-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 100%;
  overflow: auto;
}

i.quote-mark-right {
  position: absolute;
  top: 33%;
  left: 24.5%;
}
i.quote-mark-left {
  position: absolute;
  top: 63%;
  left: 76%;
}
.quote {
  font-size: 32px;
  font-family: "Caveat", cursive;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button.previous {
  background: linear-gradient(90deg, #9534ad, #db66b4);
  color: #fae4f9;
}
button.previous:hover {
  background: rgb(98, 6, 129);
}
button.random {
  background: linear-gradient(90deg, #3922ba, #48a3df);
  color: #d9edfa;
}
button.random:hover {
  background: rgb(16, 16, 126);
}
button.next {
  background: linear-gradient(90deg, #9534ad, #db66b4);
  color: #fae4f9;
}
button.next:hover {
  background: rgb(98, 6, 129);
}

.category-font {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.category-text {
  margin-right: 8px;
}
select {
  padding: 8px;
}

.font-size {
  display: flex;
  align-items: center;
  justify-content: center;
}
.font-size label {
  margin-right: 8px;
}
.font-size input {
  margin-top: 14px;
}
input[type="range"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 50%;
}
