@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Caveat:wght@400..700&display=swap");

/*variables*/
:root {
  /* COLORS */
  --color: #9176ff;
  --dark-color: #2c2b2b;
  --dark-icon-color: #fff;
  --light-color: #f7f7f7;
  --light-icon-color: #ffde59;
  --text-color: #0a0a0a;
  --dark-text-color: #f0f0f0;
}

body {
  font-family: "Asap", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--light-color);
  color: var(--text-color);
}

.container {
  width: 50%;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-style: italic;
}
.quote-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 100%;
  overflow: auto;
}

i.quote-mark-right {
  position: absolute;
  top: 33%;
  left: 24.5%;
}
i.quote-mark-left {
  position: absolute;
  top: 65%;
  left: 76%;
}
.quote {
  font-size: 32px;
  font-family: "Caveat", cursive;
  margin: 10px;
}
.author {
  font-size: 22px;
  font-family: "Caveat", cursive;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
button:hover {
  box-shadow: 0 0 10px rgba(107, 7, 7, 0.3);
}

button.previous {
  background-color: rgb(124, 7, 32);
  color: #efc6c6;
}
button.previous:hover {
  background: rgba(124, 7, 32, 0.8);
}
button.random {
  background-color: rgb(6, 6, 117);
  color: #c7deed;
}
button.random:hover {
  background: rgb(6, 6, 117, 0.8);
}
button.next {
  background-color: rgb(124, 7, 32);
  color: #fae4f9;
}
button.next:hover {
  background: rgba(124, 7, 32, 0.8);
}

.category-font {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.category-text {
  margin-right: 8px;
}
select {
  padding: 4px;
  font-size: 15px;
}

.font-size {
  display: flex;
  align-items: center;
  justify-content: center;
}
.font-size label {
  margin-right: 8px;
}
.font-size input {
  margin-top: 14px;
}
input[type="range"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 50%;
}

/* dark mode */
.darkmode-toggle {
  background-color: #fff;

  width: 6em;
  height: 3em;
  border-radius: 10em;
  padding: 0 0.5em;

  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 4%;
  right: 4%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.darkmode-indicator {
  background-color: #fff;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;

  position: absolute;

  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease;
}

.darkmodeIcon-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode-icon {
  color: var(--light-icon-color);
  font-size: 2rem;
}

/*darkmode icon animation*/
.darkmode-icon.animated {
  animation: spin 0.4s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*darkmode button*/
body.darkmode {
  background-color: var(--dark-color);
  color: var(--dark-text-color);
}

.darkmode .quote-container {
  background: linear-gradient(140deg, rgb(49, 49, 49), black);
  box-shadow: 12px 16px 15px rgb(98, 98, 98);
}

.darkmode .darkmode-toggle {
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.3),
    inset 8px 0 8px rgba(0, 0, 0, 0.3), inset 0 -4px 4px rgba(0, 0, 0, 0.3);
}

.darkmode .darkmode-indicator {
  transform: translateX(3.6em);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
}

.darkmode .darkmode-icon {
  color: var(--dark-icon-color);
}

/*responsive*/
@media only screen and (max-width: 767px) {
  .container {
    width: 85%;
  }

  h3 {
    font-size: 30px;
  }
  .quote-container {
    padding: 10px;
    margin-bottom: 20px;
    height: 200px;
    width: 95%;
    box-shadow: 4px 4px 15px rgb(98, 98, 98);
  }

  i.quote-mark-right {
    position: absolute;
    top: 28%;
    left: 4.5%;
  }
  i.quote-mark-left {
    position: absolute;
    top: 60%;
    left: 88%;
  }
  .quote {
    font-size: 25px;
    font-family: "Caveat", cursive;
  }

  button {
    padding: 7px 9px;
    font-size: 15px;
  }

  .category-font {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 40px;
  }
  .category-text {
    margin-right: 8px;
  }
  select {
    padding: 5px;
  }
  .font-size {
    margin-left: -9px;
  }

  /* dark mode */
  .darkmode-toggle {
    width: 3.6em;
    height: 2em;
  }

  .darkmode-indicator {
    background-color: #fff;
    width: 1.7em;
    height: 1.7em;
  }

  .darkmode-icon {
    color: var(--light-icon-color);
    font-size: 1.4rem;
  }

  .darkmode .darkmode-indicator {
    transform: translateX(2.1em);
  }
}
